.places {
  max-width: 987px;
  margin: 0 auto 20px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.places__item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  align-self: stretch;

  grid-template-areas:
    "title  artists"
    "image  par"
    "button  par"
    ". par";

  column-gap: 40px;
  row-gap: 32px;
}

.places__title {
  grid-area: title;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 0.9;
  margin: 0;
  max-width: 460px;
}

.places__image-wrapper {
  grid-area: image;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.places__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.places__image:hover {
  opacity: 0.85;
}

.places__button {
  grid-area: button;
  align-self: start;
  display: block;
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 100%);
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  max-width: 260px;
}

.places__button:hover {
  background: linear-gradient(90deg, #0278fe80 0%, #003a7b80 100%);
}

.places__artists {
  grid-area: artists;
  align-self: end;
}

.places__artists-heading {
  font-size: 12px;
  color: #aaa;
  letter-spacing: 3px;
}

.places__artist {
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
}

.places__paragraphs {
  grid-area: par;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.places__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
}

@media screen and (max-width: 1024px) {
  .places__item {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:
      "title  artists"
      "image  par"
      "button  par"
      ". par";
  }

  .places__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    gap: 38px;
  }

  .places__item {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-template-areas:
      "title"
      "artists"
      "image"
      "par"
      "par"
      "button";
  }

  .places__title {
    font-size: 32px;
  }

  .places__button {
    width: 93%;
  }
}
